extends layout
mixin message(opp,name,articles)
    if(opp)
        h1.greeting Logged in as 
            span=name
        if(articles)
            table.article
                each item in articles
                    tr
                        td  
                            table.posts
                                tr
                                    td
                                        span.hd= item.HEADING
                                        
                                tr
                                    td
                                        span.cont= item.status
                                        span.blogwriter= "("+item.username+")"
    else
        h1.greeting Welcome 
            span=name
            |    to our website!
        if(articles)
            table.article
                each item in articles
                    tr
                        td  
                            table.posts
                                tr
                                    td.hd
                                        span= item.HEADING
                                tr
                                    td.cont
                                        span= item.status
append links
    li(style="float:right;")
        a(href="/profile") Profile
        a(href="/loggout") Loggout
        

block content
    table
        tr
            td
            form(method="post" action="/status")
                input(type="text" name="Heading" placeholder="Heading" ).heading
                input(type="text" name="Status" placeholder="Write what's on your mind!!" ).status
                input(type="submit" value="Post" )
        tr
            td.Dashboard
            .user
                +message(opp, name,articles)
       
        

                