extends layout
mixin message(opp,name,articles)
    if(opp)
        h1.greeting Logged in as 
            span=name
        if(articles)
            table.article
                each item in articles
                    tr
                        td  
                            table.posts
                                tr
                                    td
                                        span.hd= item.HEADING
                                        
                                tr
                                    td
                                        span.cont= item.status   
                                    a(href= "userprofile/"+item.id class="val") #{item.username}
                                        p(style="font-size: 15px;") (view profile) 
    else
        h1.greeting Welcome 
            span=name
            |    to our website!
        if(articles)
            table.article
                each item in articles
                    tr
                        td  
                            table.posts
                                tr
                                    td
                                        span.hd= item.HEADING
                                        
                                tr
                                    td
                                        span.cont= item.status    
                                    a(href= "userprofile/"+item.id class="val") #{item.username} 
                                        
append links
    
    li(style="float:right;")
        form(method="post" action="/search")
            input(type="search", name="searchbar" placeholder="Search by username/full name").search
            a(href="/profile") Profile
            a(href="/loggout") Logout
        

block content
    table
        tr
            td
            form(method="post" action="/status")
                div
                    contenteditable
                        input(type="text" name="Heading" placeholder="Heading" ).heading
                        input(type="text" name="Status" placeholder="Write what's on your mind!!" ).status
                input(type="submit" value="Post")
        tr
            td.Dashboard
            .user
                +message(opp, name,articles)
       
        

                